<a href="https://colab.research.google.com/github/ChristinaPhm/ChristinaPhm.github.io/blob/main/wikiEducScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ////////////////////////////////////////////////////////////////
# // 1.  Import packages that we might need:
# // Packages for data manipulation
import numpy as np
import pandas as pd
# // Web scraping: 
import requests
from bs4 import BeautifulSoup
# // OS. Sometimes need this for finding working directory:
import os
# ////////////////////////////////////////////////////////////////
# ////////////////////////////////////////////////////////////////

In [ ]:
# ////////////////////////////////////////////////////////////////
# /// 2.  Set the URL ////////////////////////////////////////////
# /// Notes: This could be a list of URLs

URL = "https://en.wikipedia.org/wiki/Educational_attainment_in_the_United_States"

# /// Do the html request:
html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')

# ////////////////////////////////////////////////////////////////
# ////////////////////////////////////////////////////////////////

In [ ]:
soup

In [ ]:
soup_0 = soup.find_all("table", class_="wikitable")
soup_0[0]

In [ ]:
soup = soup_0[0]
soup

<table class="wikitable">
<caption>Educational attainment in the United States (2018)<sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[4]</a></sup>
</caption>
<tbody><tr>
<th>Education
</th>
<th>Age 25 and over
</th>
<th>Age 25-30
</th></tr>
<tr>
<td>High school diploma or <a href="/wiki/General_Educational_Development" title="General Educational Development">GED</a>
</td>
<td align="right">89.80%
</td>
<td align="right">92.95%
</td></tr>
<tr>
<td>Some college
</td>
<td align="right">61.28%
</td>
<td align="right">66.34%
</td></tr>
<tr>
<td>Associate and/or bachelor's degree
</td>
<td align="right">45.16%
</td>
<td align="right">46.72%
</td></tr>
<tr>
<td>Bachelor's degree
</td>
<td align="right">34.98%
</td>
<td align="right">36.98%
</td></tr>
<tr>
<td>Master's and/or doctorate and/or professional degree
</td>
<td align="right">13.04%
</td>
<td align="right">9.01%
</td></tr>
<tr>
<td>Doctorate and/or professional degree
</td>
<td align="right">3.47%
</td>
<td align="right">2.02%
</td></tr>
<tr>
<td>Doctorate
</td>
<td align="right">2.03%
</td>
<td align="right">1.12%
</td></tr></tbody></table>

In [ ]:
table = soup.find_all("tr")
for i in soup.find_all("tr"):
  print(i.a)
educ = [i.text for i in table]
educ = [item.replace("\nEducation\n\nAge 25 and over\n\nAge 25-30\n", "").replace("\n", "").replace("%", "").replace("2.031.12", "").replace("3.472.02", "").replace("13.049.01", "").replace("34.9836.98", "").replace("89.8092.95", "").replace("61.2866.34", "").replace("45.1646.72", "") for item in educ]
educ.remove('')
educ

None
<a href="/wiki/General_Educational_Development" title="General Educational Development">GED</a>
None
None
None
None
None
None

['High school diploma or GED',
 'Some college',
 "Associate and/or bachelor's degree",
 "Bachelor's degree",
 "Master's and/or doctorate and/or professional degree",
 'Doctorate and/or professional degree',
 'Doctorate']

In [ ]:
table2 = soup.find_all("td")
for i in soup.find_all("td"):
  print(i.a)
over25 = [i.text for i in table2]
over25 = [item.replace("\n", "").replace(",", "").replace("High school diploma or GED", "").replace("Some college", "").replace("Associate and/or bachelor's degree", "").replace("Bachelor's degree", "").replace("Master's and/or doctorate and/or professional degree", "").replace("Doctorate and/or professional degree", "").replace("Doctorate", "") for item in over25]
over25.remove('')
over25.remove('')
over25.remove('')
over25.remove('')
over25.remove('')
over25.remove('')
over25.remove('')
value = over25.pop(1)
value = over25.pop(2)
value = over25.pop(3)
value = over25.pop(4)
value = over25.pop(5)
value = over25.pop(6)
value = over25.pop(7)
over25

<a href="/wiki/General_Educational_Development" title="General Educational Development">GED</a>
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

['89.80%', '61.28%', '45.16%', '34.98%', '13.04%', '3.47%', '2.03%']

In [ ]:
df1=pd.DataFrame([educ,over25]).T

In [ ]:
df1.columns=['Highest education level','Percentage of over-25 population']

In [ ]:
pd.concat([df1])

                             Highest education level Percentage of over-25 population
0                         High school diploma or GED                           89.80%
1                                       Some college                           61.28%
2                 Associate and/or bachelor's degree                           45.16%
3                                  Bachelor's degree                           34.98%
4  Master's and/or doctorate and/or professional ...                           13.04%
5               Doctorate and/or professional degree                            3.47%
6                                          Doctorate                            2.03%

In [ ]:
df1.to_csv('Wiki_USEducationLevel.csv')