<a href="https://colab.research.google.com/github/ChristinaPhm/ChristinaPhm.github.io/blob/main/education_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import requests
import pandas as pd

In [42]:
tables=pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_educational_attainment')

In [ ]:
tables

In [44]:
df=tables[1]

In [23]:
df

   State or Territory  ... With an Advanced Degree
   State or Territory  ...                     Pct
0             Alabama  ...                  10.04%
1              Alaska  ...                  11.69%
2             Arizona  ...                  11.35%
3            Arkansas  ...                   8.26%
4          California  ...                  13.14%
5            Colorado  ...                  16.04%
6         Connecticut  ...                  17.84%
7            Delaware  ...                  13.66%
8          Washington  ...                  33.97%
9             Florida  ...                  11.44%
10            Georgia  ...                  12.59%
11             Hawaii  ...                  11.56%
12              Idaho  ...                   9.95%
13           Illinois  ...                  14.06%
14            Indiana  ...                   9.66%
15               Iowa  ...                   9.52%
16             Kansas  ...                  12.39%
17           Kentucky  ...                  10.26%
18          Louisiana  ...                   8.93%
19              Maine  ...                  12.44%
20           Maryland  ...                  19.08%
21      Massachusetts  ...                  20.30%
22           Michigan  ...                  11.87%
23          Minnesota  ...                  12.75%
24        Mississippi  ...                   8.64%
25           Missouri  ...                  11.78%
26            Montana  ...                  10.49%
27           Nebraska  ...                  11.44%
28             Nevada  ...                   9.04%
29      New Hampshire  ...                  14.66%
30         New Jersey  ...                  16.09%
31         New Mexico  ...                  12.15%
32           New York  ...                  16.60%
33     North Carolina  ...                  11.82%
34       North Dakota  ...                   8.90%
35               Ohio  ...                  11.08%
36           Oklahoma  ...                   9.11%
37             Oregon  ...                  13.53%
38       Pennsylvania  ...                  12.80%
39        Puerto Rico  ...                   7.95%
40       Rhode Island  ...                  13.95%
41     South Carolina  ...                  11.17%
42       South Dakota  ...                   9.11%
43          Tennessee  ...                  10.72%
44              Texas  ...                  10.79%
45               Utah  ...                  11.33%
46            Vermont  ...                  15.99%
47           Virginia  ...                  17.24%
48         Washington  ...                  14.19%
49      West Virginia  ...                   8.43%
50          Wisconsin  ...                  10.67%
51            Wyoming  ...                  10.36%
52      United States  ...                  12.79%

[53 rows x 8 columns]

In [ ]:
df = df.drop('Population over the age of 25', axis=1)
df = df.drop('With an Advanced Degree', axis=1)

In [46]:
df.columns = df.columns.droplevel(0)

In [47]:
df

   State or Territory  Population     Pct  Population     Pct
0             Alabama     2926985  87.11%      885357  26.35%
1              Alaska      452968  93.58%      146157  30.19%
2             Arizona     4331542  87.60%     1492158  30.18%
3            Arkansas     1781463  87.48%      475367  23.34%
4          California    22636359  84.03%     9428484  35.00%
5            Colorado     3672723  92.40%     1695602  42.66%
6         Connecticut     2264581  90.71%      994548  39.84%
7            Delaware      620789  90.32%      228199  33.20%
8          Washington      463977  91.85%      301429  59.67%
9             Florida    13689867  88.41%     4753637  30.70%
10            Georgia     6224197  87.91%     2301568  32.51%
11             Hawaii      920690  92.38%      335209  33.63%
12              Idaho     1071091  91.47%      336655  28.75%
13           Illinois     7812057  89.85%     3108972  35.76%
14            Indiana     4033932  89.60%     1212826  26.94%
15               Iowa     1966523  92.63%      622253  29.31%
16             Kansas     1760324  91.78%      652489  34.02%
17           Kentucky     2657789  87.19%      765923  25.13%
18          Louisiana     2699357  85.96%      784275  24.98%
19              Maine      923838  93.21%      328999  33.19%
20           Maryland     3781706  90.39%     1710230  40.88%
21      Massachusetts     4429635  91.32%     2181743  44.98%
22           Michigan     6298340  91.35%     2070795  30.03%
23          Minnesota     3601522  93.61%     1433226  37.25%
24        Mississippi     1688747  85.30%      441751  22.31%
25           Missouri     3814347  90.68%     1271281  30.22%
26            Montana      699268  94.25%      249148  33.58%
27           Nebraska     1170498  92.04%      422587  33.23%
28             Nevada     1855551  86.85%      548919  25.69%
29      New Hampshire      914078  93.30%      368237  37.58%
30         New Jersey     5591610  90.32%     2551765  41.22%
31         New Mexico     1224660  85.88%      394598  27.67%
32           New York    11970504  87.60%     5166218  37.81%
33     North Carolina     6368153  88.61%     2321185  32.30%
34       North Dakota      471356  93.45%      153397  30.41%
35               Ohio     7308958  90.80%     2356585  29.28%
36           Oklahoma     2315978  88.42%      686509  26.21%
37             Oregon     2729719  91.35%     1032316  34.55%
38       Pennsylvania     8216204  91.01%     2917402  32.31%
39        Puerto Rico     1813327  78.78%      626580  27.22%
40       Rhode Island      666745  89.26%      260275  34.84%
41     South Carolina     3147526  88.33%     1054559  29.60%
42       South Dakota      541735  92.13%      174784  29.72%
43          Tennessee     4131145  88.01%     1348224  28.72%
44              Texas    15890162  84.65%     5776533  30.77%
45               Utah     1778532  93.04%      664661  34.77%
46            Vermont      414700  93.07%      172272  38.66%
47           Virginia     5288045  90.04%     2325070  39.59%
48         Washington     4850250  91.68%     1955632  36.97%
49      West Virginia     1116281  87.14%      269706  21.05%
50          Wisconsin     3724423  92.76%     1258379  31.34%
51            Wyoming      368597  94.55%      113557  29.13%
52      United States   199280027  88.61%    74501651  33.13%

In [48]:
df = df.loc[(df['State or Territory'] == 'New York') | (df['State or Territory'] == 'Maryland') | (df['State or Territory'] == 'Puerto Rico') | (df['State or Territory'] == 'Illinois') | (df['State or Territory'] == 'Mississippi') | (df['State or Territory'] == 'Alabama') | (df['State or Territory'] == 'California')]

In [49]:
df

   State or Territory  Population     Pct  Population     Pct
0             Alabama     2926985  87.11%      885357  26.35%
4          California    22636359  84.03%     9428484  35.00%
13           Illinois     7812057  89.85%     3108972  35.76%
20           Maryland     3781706  90.39%     1710230  40.88%
24        Mississippi     1688747  85.30%      441751  22.31%
32           New York    11970504  87.60%     5166218  37.81%
39        Puerto Rico     1813327  78.78%      626580  27.22%

In [ ]:
df = df.drop(['Population'], axis = 1)

In [57]:
df.columns = ['State', 'High School Diploma or higher', 'Bachelors Degree or higher']

In [58]:
df

          State High School Diploma or higher Bachelors Degree or higher
0       Alabama                        87.11%                     26.35%
4    California                        84.03%                     35.00%
13     Illinois                        89.85%                     35.76%
20     Maryland                        90.39%                     40.88%
24  Mississippi                        85.30%                     22.31%
32     New York                        87.60%                     37.81%
39  Puerto Rico                        78.78%                     27.22%

In [59]:
df.to_csv('education_by_state.csv')